@page "/user/transactionhistory"
@page "/user/transactionhistory/{pageId:int}"
@layout Hotaru.Shared.LayOut.UserLayout
@inject NavigationManager nvg

@using DataAccessLibrary;
@using DataAccessLibrary.Models;
@using Hotaru.DisplayModels;

@inject IReservationData ReservationDB;
@inject IPaymentData PaymentDB;
@inject IImageData ImageDB;
@inject IRoomData RoomDB;
@inject IHotelData HotelDB;

<div class="main">
    <div class="col-12">
        @if ((PageId != model.MaxPages - 1) || (model.MaxObject % model.ObjectEachPage == 0))
        {
            for (int i = 0; i < model.ObjectEachPage / 2; i++)
            {
                int object1 = PageId * model.ObjectEachPage + 1 + i * 2;
                int object2 = object1 + 1;
                <div class="row">
                    @if (object1 < reservations.Count && payments[object1].Payment_Pay)
                    {
                        <div class="media pb-5 col-6">
                            <img class="mr-3 img-thumbnail" src="@images[object1].HotelImage_Source" alt="Generic placeholder image" style="width:200px;height:250px;">
                            <div class="media-body">
                                <p class="mt-0">@hotels[object1].Hotel_Name</p>
                                <label>Payment Date:</label>
                                <BSBasicInput InputType="InputType.Date" Value="@payments[object1].Payment_Date" IsDisabled="true"></BSBasicInput>
                                <label>Total Amount (vnđ):</label>
                                <p>@payments[object1].Payment_Total</p>
                                <BSButton Class="p-3" Color=Color.Primary Size=Size.ExtraSmall OnClick="() => Navigate(reservations[object1].Reservation_ID)">Detail</BSButton>
                            </div>
                        </div>
                    }
                    @if (object2 < reservations.Count && payments[object2].Payment_Pay)
                    {
                        <div class="media pb-5 col-6">
                            <img class="mr-3 img-thumbnail" src="@images[object2].HotelImage_Source" alt="Generic placeholder image" style="width:200px;height:250px;">
                            <div class="media-body">
                                <p class="mt-0">@hotels[object2].Hotel_Name</p>
                                <label>Payment Date:</label>
                                <BSBasicInput InputType="InputType.Date" Value="@payments[object2].Payment_Date" IsDisabled="true"></BSBasicInput>
                                <label>Total Amount (vnđ):</label>
                                <p>@payments[object2].Payment_Total</p>
                                <BSButton Class="p-3" Color=Color.Primary Size=Size.ExtraSmall OnClick="() => Navigate(reservations[object2].Reservation_ID)">Detail</BSButton>
                            </div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            for (int i = 0; i < (model.MaxObject % model.ObjectEachPage + 1) / 2; i++)
            {
                int object1 = PageId * model.ObjectEachPage + 1 + i * 2;
                int object2 = object1 + 1;
                <div class="row">
                    @if (object1 < reservations.Count && payments[object1].Payment_Pay)
                    {
                    <div class="media pb-5 col-6">
                            <img class="mr-3 img-thumbnail" src="@images[object1].HotelImage_Source" alt="Generic placeholder image" style="width:200px;height:250px;">
                            <div class="media-body">
                                <p class="mt-0">@hotels[object1].Hotel_Name</p>
                                <label>Payment Date:</label>
                                <BSBasicInput InputType="InputType.Date" Value="@payments[object1].Payment_Date" IsDisabled="true"></BSBasicInput>
                                <label>Total Amount (vnđ):</label>
                                <p>@payments[object1].Payment_Total</p>
                                <BSButton Class="p-3" Color=Color.Primary Size=Size.ExtraSmall OnClick="() => Navigate(reservations[object1].Reservation_ID)">Detail</BSButton>
                            </div>
                        </div>
                    }
                     @if (object2 < reservations.Count && payments[object2].Payment_Pay)
                     {
                        <div class="media pb-5 col-6">
                            <img class="mr-3 img-thumbnail" src="@images[object2].HotelImage_Source" alt="Generic placeholder image" style="width:200px;height:250px;">
                            <div class="media-body">
                                <p class="mt-0">@hotels[object2].Hotel_Name</p>
                                <label>Payment Date:</label>
                                <BSBasicInput InputType="InputType.Date" Value="@payments[object2].Payment_Date" IsDisabled="true"></BSBasicInput>
                                <label>Total Amount (vnđ):</label>
                                <p>@payments[object2].Payment_Total</p>
                                <BSButton Class="p-3" Color=Color.Primary Size=Size.ExtraSmall OnClick="() => Navigate(reservations[object2].Reservation_ID)">Detail</BSButton>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
    <BSPagination Alignment="Alignment.Center">
        <BSPaginationItem IsDisabled="IsFirstPage()">

            <BSPaginationLink Href="@URLPage(PageId-1)" PaginationLinkType="PaginationLinkType.PreviousText"></BSPaginationLink>

        </BSPaginationItem>
        @if (model.MaxPages < 10)
            for (int i = 0; i < model.MaxPages; i++)
            {
                if (PageId == i)
                {
                    int numPage = i;
                    <BSPaginationItem IsActive="true">

                        <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                    </BSPaginationItem>
                }
                else
                {
                    int numPage = i;
                    <BSPaginationItem IsActive="false">

                        <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                    </BSPaginationItem>
                }
            }
        else
        {
            if (PageId < 10)
            {
                for (int i = 0; i < 10; i++)
                {
                    if (PageId == i)
                    {
                        int numPage = i;
                        <BSPaginationItem IsActive="true">

                            <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                        </BSPaginationItem>
                    }
                    else
                    {
                        int numPage = i;
                        <BSPaginationItem IsActive="false">

                            <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                        </BSPaginationItem>
                    }
                }
                <BSPaginationItem IsDisabled="true">

                    <BSPaginationLink Href="">...</BSPaginationLink>

                </BSPaginationItem>
            }
            else
            {
                if (PageId != model.MaxPages - 1)
                {
                    <BSPaginationItem IsDisabled="true">

                        <BSPaginationLink Href="">...</BSPaginationLink>

                    </BSPaginationItem>
                    for (int i = PageId - 9; i < PageId + 1; i++)
                    {
                        if (PageId == i)
                        {
                            int numPage = i;
                            <BSPaginationItem IsActive="true">

                                <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                            </BSPaginationItem>
                        }
                        else
                        {
                            int numPage = i;
                            <BSPaginationItem IsActive="false">

                                <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                            </BSPaginationItem>
                        }
                    }
                    <BSPaginationItem IsDisabled="true">

                        <BSPaginationLink Href="">...</BSPaginationLink>

                    </BSPaginationItem>
                }
                else
                {
                    <BSPaginationItem IsDisabled="true">

                        <BSPaginationLink Href="">...</BSPaginationLink>

                    </BSPaginationItem>
                    for (int i = PageId - 9; i < PageId + 1; i++)
                    {
                        if (PageId == i)
                        {
                            int numPage = i;
                            <BSPaginationItem IsActive="true">

                                <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                            </BSPaginationItem>
                        }
                        else
                        {
                            int numPage = i;
                            <BSPaginationItem IsActive="false">

                                <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                            </BSPaginationItem>
                        }
                    }
                }
            }
        }

        <BSPaginationItem IsDisabled="IsFinalPage()">

            <BSPaginationLink Href="@URLPage(PageId+1)" PaginationLinkType="PaginationLinkType.NextText"></BSPaginationLink>

        </BSPaginationItem>

    </BSPagination>
</div>
@code {

    [Parameter]
    public int PageId { get; set; }

    List<ReservationModel> reservations = new List<ReservationModel>();
    List<PaymentModel> payments = new List<PaymentModel>();
    List<ImageModel> images = new List<ImageModel>();
    List<RoomModel> rooms = new List<RoomModel>();
    List<HotelModel> hotels = new List<HotelModel>();

    Pagination model = new Pagination(1, 1);

    string URLPage(int numPage)
    {
        string temp = "/user/transactionhistory/" + numPage.ToString();
        return temp;
    }

    bool IsFirstPage()
    {
        if (PageId == 0) return true;
        else return false;
    }

    bool IsFinalPage()
    {
        if (PageId == model.MaxPages - 1) return true;
        else return false;
    }

    protected override async Task OnInitializedAsync()
    {
        reservations = await ReservationDB.GetReservations();
        payments = await PaymentDB.GetPayments();
        images = await ImageDB.GetImages();
        rooms = await RoomDB.GetRooms();
        hotels = await HotelDB.GetHotels();

        List<ReservationModel> temptReservations = new List<ReservationModel>();
        temptReservations.Add(reservations[0]);
        List<PaymentModel> temptPayments = new List<PaymentModel>();
        List<ImageModel> temptImages = new List<ImageModel>();
        List<RoomModel> temptRooms = new List<RoomModel>();
        List<HotelModel> temptHotels = new List<HotelModel>();


        for (int reservationIndex = 0; reservationIndex < reservations.Count; reservationIndex++)
        {
            if (reservations[reservationIndex].User_ID == CurrentInfo.User_ID)
            {
                temptReservations.Add(reservations[reservationIndex]);
            }
        }
        reservations.Clear();
        reservations = temptReservations;
        model = new Pagination(temptReservations.Count, 8);

        for (int reservationIndex = 0; reservationIndex < reservations.Count; reservationIndex++)
        {
            for (int roomIndex = 0; roomIndex < rooms.Count; roomIndex++)
            {
                if (rooms[roomIndex].Room_ID == reservations[reservationIndex].Room_ID)
                {
                    temptRooms.Add(rooms[roomIndex]);
                }
            }
        }
        rooms.Clear();
        rooms = temptRooms;

        for (int reservationIndex = 0; reservationIndex < reservations.Count; reservationIndex++)
        {
            for (int hotelIndex = 0; hotelIndex < hotels.Count; hotelIndex++)
            {
                if (hotels[hotelIndex].Hotel_ID == reservations[reservationIndex].Hotel_ID)
                {
                    temptHotels.Add(hotels[hotelIndex]);
                }
            }
        }
        hotels.Clear();
        hotels = temptHotels;

        for (int reservationIndex = 0; reservationIndex < reservations.Count; reservationIndex++)
        {
            for (int paymentIndex = 0; paymentIndex < payments.Count; paymentIndex++)
            {
                if (payments[paymentIndex].Reservation_ID == reservations[reservationIndex].Reservation_ID)
                {
                    temptPayments.Add(payments[paymentIndex]);
                }
            }
        }
        payments.Clear();
        payments = temptPayments;

        for (int reservationIndex = 0; reservationIndex < reservations.Count; reservationIndex++)
        {
            for (int imageIndex = 0; imageIndex < images.Count; imageIndex++)
            {
                if (images[imageIndex].Hotel_ID == reservations[reservationIndex].Hotel_ID)
                {
                    temptImages.Add(images[imageIndex]);
                }
            }
        }
        images.Clear();
        images = temptImages;
    }

    void Navigate(int reservationID)
    {
        CurrentInfo.Reservation_ID = reservationID;
        nvg.NavigateTo("/user/transactionobjectview");
    }
}

